//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

#footer {
  position: relative;
  @include siteContainer;

  @include max-width('sm') {
    padding: scaleGrid(2) 0;
  }

  @include min-width('sm') {
    padding: scaleGrid(4) 0;
  }

  .List--dotSeperated {
    li {
      @include max-width('sm') {
        display: block;
        &:before {
          display: none;
        }
      }
    }
  }

  .List--dotSeperated + .List--dotSeperated {
    @include max-width('sm') {
      border-top: 1px solid $cu-divider;
      padding-top: $su-small;
    }
  }  

}

#home #footer {
  background-color: #222;
  max-width: 100%;

  a {
    color: #fff;
  }

  .Grid {
    @include siteContainer;
  }
}

.footer-image {
  width: 100%;
  float: left;
}

.copyright {
  display: block;
  padding: $su-medium;
  padding-bottom: $su-xxlarge;
  text-align: center;
}
