//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

#footer {
  position: relative;
}

.footer-image {
  width: 100%;
  float: left;
}

.copyright {
  display: block;
  padding: $su-medium;
  padding-bottom: $su-xxlarge;
  text-align: center;
}
