//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

$navHeight: scaleGrid(11);

.SiteNav {
  height: $navHeight;
  width: 100%;
  background-color: $cu-foreground;
  border-bottom: 1px solid $cu-divider--light;

  .Grid {
    align-items: center;
    justify-content: center;
  }

  .Grid {
    height: 100%;
  }

}

.SiteNav-title,
.SiteNav-links {
  padding: 0;
}

.SiteNav-title,
.SiteNav-link {
  color: $cu-info;
}

.SiteNav-title {
  font-size: 26px;

  &Image {
    font-size: 1em;
    width: 1em;
    height: 1em;
    line-height: normal;
  }

  &Text {
    display: none;
  }

}

.SiteNav-links {
  padding-right: $su-medium;

  &:last-child {
    padding-right: 0;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  &.u-textRight {
    @include max-width('sm') {
      display: none;
    }
  }

}

.SiteNav-link {
  font-size: scaleFont($fontSize, 2);
  margin-left: $su-large;
  display: block;

  &:first-child {
    margin-left: 0;
  }

  a {
    color: $cu-info;
  }

  .Icon {
    font-size: 1.15em;
    width: 1.15em;
    height: 1.15em;
  } 

  .Icon--logo {
    font-size: 44px;
    color: $cu-primary;
  }

}
