//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

$navHeight: scaleGrid(11);

#Intro {
  background-image: url('../img/trees_bg.jpg');
  padding-top: $navHeight;
}

.SiteNav {
  position: absolute;
  top: 0;
  left: 0;
  height: $navHeight;
  width: 100%;
  background-color: rgba($cu-foreground, .85);
  border-bottom: 1px solid $cu-divider--light;
}

.SiteNav-title,
.SiteNav-link {
  color: $cu-info;
}

.SiteNav-title,
.SiteNav-link,
.SiteNav-links {
  height: $navHeight;
  line-height: $navHeight;
}

.SiteNav-links {
  li {
    display: inline-block;
    list-style: none;
  }
}

.SiteNav-link {
  font-family: $heading-font-family;
  display: block;
  margin-left: $su-medium;

  .Icon {
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
  }

}
