//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.Persona {
  padding: $su-medium;
  background-color: #fafafa;
  margin-bottom: $su-medium;
}

.Persona-name,
.Persona-detailsTitle {
  color: #0F3459;
}

.Persona-name {
  font-weight: bold;
  font-size: $tu-base-fontSize;
  padding-bottom: $su-small;
}

.Persona-name,
.Persona-details {
  padding-left: $su-medium;
}

.Persona-details {
  list-style: none;
  padding-bottom: 0;
  li {
    padding: 8px 0;
    font-size: $tu-small-fontSize;
  }
}
