//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

$spot-color: $cu-primary !default;

.Article {
  @include siteContainer;
  background-color: $cu-foreground;
  border: 1px solid $cu-divider;
  margin-top: scaleGrid(8);

  h3 {
    padding: $su-medium 0;
  }

}

.Article-container {
  padding: scaleGrid(6) 5% 0 5%;
}

.Article-header,
.Article-section,
.Article-footer {
  padding: scaleGrid(6) 5% 0 5%;
  max-width: 900px;
  margin: 0 auto;;
}

.Article-header {
  padding-top: scaleGrid(7);
  padding-bottom: 0;
}

.Article-footer {
  padding-bottom: scaleGrid(7);
  padding-top: scaleGrid(7);
  margin-top: scaleGrid(4);
  border-top: 1px solid $spot-color;
  max-width: 100%;
}

.Article-section--fullWidth {
  max-width: 100%;
}

.Article-title {
  position: relative;
  padding-bottom: $su-small;
  margin-bottom: $su-xxlarge;

  &:after {
    content: '';
    display: block;
    height: 2px;
    width: scaleGrid(7);
    background-color: $cu-divider;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.Article-image {
  padding-bottom: $su-large;
} 

.Article-image--center {
  max-width: 900px;
  margin: 0 auto;
}

.figma_badge {
  text-align: center;
  display: block;
  img {
    margin: 0 auto;
    max-width: scaleGrid(30);
  }
}

// * 6. articleTheme($color)

@mixin articleTheme($spotColor) {

  h1, h2, h3, h4,
  .u-colorPrimary,
  .figma_badge {
    color: $spotColor;
  }

  .u-colorInfo {
    color: $cu-info;
  }

  blockquote {
    border-color: $spotColor;
  }

  .Blockquote--centered {
    &:before, &:after {
      background-color: $spotColor;
    }
  }

  .Article-footer {
    border-top: 1px solid $spotColor;
  }

  .Reverse-text {
    color: $cu-foreground;
    background-color: $spotColor;

    h1, h2, h3, h4 {
      color: $cu-foreground;
    }

  }

  

}
