//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

blockquote {
  border-left: $su-medium solid $cu-primary; 
  padding-left: $su-large;
  max-width: 900px;
}
