.FeatureCollections {
    padding: $su-medium;
    padding-left: $su-xxlarge;
    font-family: $heading-font-family;
    border: {
        color: rgba($cu-primary, .7);
        width: $su-medium;
        style: solid;
    }
}

.FeatureCollections,
.FeatureCollections-link {
    color: $wd-white;
}

.FeatureCollections-link {
    line-height: $su-xlarge;
    padding-left: $su-medium;
}

.IntroText {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    font-style: italic;
}

.IntroText-design,
.IntroText-development {
    color: $wd-white;
}

.IntroText-craft,
.IntroText-plus {
    color: $cu-primary;
}

.IntroText-craft {
    font-size: 40px;
    display: inline-block;
    border-bottom: 1px solid $cu-primary;
    padding-bottom: $su-small;
    margin-bottom: $su-medium;
}

.IntroText-design {
    display: block;
}

.IntroText-plus {

}

.IntroText-development {

}
