.FeatureCollections {
    padding: $su-medium;
    padding-left: $su-xxlarge;
    font-family: $heading-font-family;
    border: {
        color: rgba($cu-primary, .7);
        width: $su-medium;
        style: solid;
    }
}

.FeatureCollections,
.FeatureCollections-link {
    color: $wd-white;
}

.FeatureCollections-link {
    line-height: $su-xlarge;
    padding-left: $su-medium;
}


