//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.Icon {
  margin: 0;
  width: 1em;
  height: 1em;
  font-size: 1em;
  fill: currentColor;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
