//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.PortfolioItem {
  margin-bottom: $su-medium;

  @include max-width('sm') {
    border-bottom: 1px dotted $cu-divider;
    padding-bottom: $su-medium;
    margin-bottom: $su-large;
  }

}

.PortfolioItem-title,
.PortfolioItem-collection {
  display: inline-block;
}

.PortfolioItem-title{
  color: $cu-info;
  font-size: $tu-xlarge-fontSize;
  border-bottom: 1px solid scaleColor($cu-primary, 6);
  padding: 0 $su-small $su-small 0;
  margin-bottom: $su-xlarge;

  @include max-width('sm') {
    font-size: scaleFont($fontSize, 3);
    margin-bottom: $su-medium;
  }

}

.PortfolioItem-behanceLink {
  display: block;
  color: $cu-primary;
  margin-top: $su-xlarge;

  @include max-width('sm') {
    margin-top: $su-medium;
  }

  &:before { 
    content: '[ ';
  }
  &:after { 
    content: ' ]';
  }
}

.PortfolioItem-blurb {}

.PortfolioItem-image {}
