//------------------------------------------------------------//

// * File Title
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

// * 1. Contents Grouping One

.Section {
  background-color: $cu-foreground;
}

.Section-content {
  padding: scaleGrid(6) $su-medium;

  @include max-width('sm') {
    padding: scaleGrid(4) $su-medium;
  }

}

.Section-title {
  position: relative;
  padding-bottom: $su-small;
  margin-bottom: $su-xlarge;

  &:after {
    content: '';
    display: block;
    height: 2px;
    width: scaleGrid(7);
    background-color: $cu-divider;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.Section-container {
  @include siteContainer;
}
