//------------------------------------------------------------//

// * Home Page Introduction
// * 1. Contents Grouping One
// * 2. Contents Grouping Two
//
// Notes:
// * none yet

// TODO : Make About-title a modifier of section title

//------------------------------------------------------------//

// * 1. Contents Grouping One

#About {
  background-color: #fafafa;

  p {
    max-width: 700px;
  }

}

.SocialMedia {
  padding: $su-xsmall 0 0 0;
  margin: 0;
}

.SocialMedia-item {
  list-style: none;
  display: inline-block;
  padding: $su-small;

  &:first-child {
    padding-left: 0;
  }

  .Icon {
    font-size: 1.25em;
    width: 1.25em;
    height: 1.25em;

    @include max-width('sm') {
      font-size: 1.5em;
      width: 1.5em;
      height: 1.5em;
    }

  }

}

.About-image {

  img {
    float: left;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
