//------------------------------------------------------------//

// * Home Page Introduction
// * 1. Intro Text
// * 2. Services Offered
//
// Notes:
// * none yet

// TODO : oganize file

//------------------------------------------------------------//

$introPadding: scaleGrid(8);

#Intro {
  background-color: $cu-background;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../img/trees_bg.jpg');
  padding-top: $navHeight;

  .SiteNav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($cu-foreground, .85);
  }

  .Section-content {
    position: relative;
    padding-top: $introPadding;
    padding-bottom: $introPadding;

    @include max-width('sm') {
      padding-top: $su-xlarge;
      padding-bottom: $su-xlarge;
    }

    @include horizontal-gradient(rgba($cu-background, 0.8), transparent, transparent);
    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      display: block;
    }
    &:before {
      @include vertical-gradient(rgba($cu-background, 0.35), $cu-background, rgba($cu-background, 0.35));
      height: 100%;
      opacity: 0.8;
      bottom: 0;
    }
    &:after {
      @include vertical-gradient($cu-background, transparent, transparent);
      height: scaleGrid(6);
      opacity: 0.35;
      top: 0;
    }
  }

  & .Section-container {
    position: relative;
    z-index: 10;
  }

}

// * 1. Intro Text

.IntroTitle {
  font-size: scaleFont($fontSize, 10);
  font-weight: 400;
  line-height: scaleFont($lineHeight, -3);
  padding-bottom: $su-medium;
  margin-bottom: $su-medium;
  position: relative;

  @include max-width('sm') {
    font-size: scaleFont($fontSize, 9);
    font-style: normal;
  }

  @include max-width('xs') {
    font-size: scaleFont($fontSize, 8);
  }

  &:after {
    content: '';
    background: $cu-primary;
    @include horizontal-gradient($cu-primary, transparent, $cu-primary);
    display: block;
    height: $su-xxsmall;
    width: 100%;
    position: absolute;
    bottom: 0 - $su-xxsmall;
    left: 0;  

  }

}

.IntroTitle-product,
.IntroTitle-identity,
.IntroText {
  color: $wd-white;
}

.IntroTitle-and {
  color: $cu-primary;
  font-style: italic;
  font-size: 0.8em;
}

.IntroTitle-product {
  display: block;
}

.IntroTitle-and {}

.IntroTitle-identity {}


// * 2. Services Offered

.FeatureCollections {
  padding: $su-medium $su-large;
  font-family: $heading-font-family;
  font-size: scaleFont($fontSize, 3);
  list-style: none;
  background-color: rgba($wd-black, 0.35);
  box-shadow: 0 0 $su-medium $wd-black inset;
  border: {
      color: rgba($cu-primary, 0.7);
      width: $su-medium;
      style: solid;
      position: outside;
  }

  @include max-width('lg') {
    font-size: scaleFont($fontSize, 2);
  }

}

.FeatureCollections-item {
  padding: 0 0 $su-xxsmall 0;
}

.FeatureCollections,
.FeatureCollections-link {
  color: $wd-white;
}
