<div id="{{this.id}}" class="PortfolioItem Grid u-flexAlignItemsCenter u-flexRowReverse">
  <div class="Grid-cell u-sm-size1of2">
    <img class="PortfolioItem-image" src="{{this.thumb}}" />
  </div>
  <div class="Grid-cell u-sm-size1of2 u-sm-padRightMd">
    <h3 class="PortfolioItem-title">{{this.title}}</h3>
    <p class="PortfolioItem-blurb">
      <b>{{this.collection_label}}.</b> {{this.blurb}}
    </p>
    {{#if this.project_link}}
      <a class="PortfolioItem-behanceLink" href="{{this.project_link}}">View Project on Behance</a>
      {{/if}}
  </div>
</div>
