<footer id="footer">
  <div class="Grid">
    <ul class="Grid-cell u-sm-size1of2 List--dotSeperated u--sm-padLeftNone">
      <li><a href="/#Work">Work</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="Grid-cell u-sm-size1of2  List--dotSeperated u-sm-textRight u-sm-padRightNone">
      <li><a href="mailto:dingwall.wr@gmail.com">dingwall.wr@gmail.com</a></li>
      <li><a href="https://www.linkedin.com/in/williamdingwall">LinkedIn</a></li>
      <li><a href="https://www.behance.net/williamdingwall">Behance</a></li>
      <li><a href="https://www.pinterest.com/williamdingwall/">Pinterest</a></li>
      <li><a href="https://github.com/williamdingwall">Github</a></li>
    </ul>
  </div>
</footer>
