<nav class="SiteNav">
  <div class="Section-container Grid Grid--fit {{title}}">

    <ul class="SiteNav-links Grid-cell u-textLeft">
      <li class="SiteNav-link">
        <h1 class="SiteNav-title u-flexAlignItemsCenter">
          <a href="/" class="Grid-cell">
            <span class="SiteNav-titleImage">
              {{> logo}}
            </span>
            <span class="SiteNav-titleText">
              William Dingwall | Product Design & Identity Design
            </span>
          </a>
        </h1>
      </li>
      <li class="SiteNav-link">
        <a href="/#Work">Work</a>
      </li>
      <li class="SiteNav-link">
        <a href="/resume">Resume</a>
      </li>
      <li class="SiteNav-link">
        <a href="/about">About</a>
      </li>


    </ul>

    <ul class="SiteNav-links Grid-cell u-textRight">
      <li class="SiteNav-link">
        <a href="https://www.linkedin.com/in/williamdingwall">
          {{> iconLinkedin}}
        </a>
      </li>
      <li class="SiteNav-link">
        <a  href="https://www.behance.net/williamdingwall">
          {{> iconBehance}}
        </a>
      </li>
      <li class="SiteNav-link">
        <a  href="https://www.pinterest.com/williamdingwall/">
          {{> iconPinterest}}
        </a>
      </li>
      <li class="SiteNav-link">
        <a href="https://github.com/williamdingwall">
          {{> iconGithub}}
        </a>
      </li>
    </ul>

  </div>
</nav>
