<!DOCTYPE html>
<html>

  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    {{#> metaData}}
      {{contents}}
    {{/metaData}}
    <title>{{site.name}}</title>

    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/photoswipe.css"> 
    <link rel="stylesheet" href="/css/default-skin.css"> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163835667-1"></script>
    <script src="/js/index.js"></script>
    <script src="/js/umbrella/umbrella.min.js"></script> 
    <script src="/js/photoswipe/photoswipe.min.js"></script> 
    <script src="/js/photoswipe/photoswipe-ui-default.min.js"></script> 

  </head>
