html,
body,
#Intro,
#Intro .Section-content {
  height: 100%;
  width: 100%;
}

#Intro {
  background-image: url('../img/trees_bg.jpg');
  //padding-top: $navHeight;

  .Section-content {
    box-sizing: border-box;
    display: grid;
  }

  .Icon {
    color: $wd-white;
    fill: $wd-white;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    vertical-align: middle;
    @include max-width('sm') {
      width: 1.15em;
      height: 1.15em;
      font-size: 1.15em;
    }
  }
}

.TempHome {
  max-width: 500px;
  align-self: center;
  justify-self: center;
}

.IntroText {
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid $cu-primary;
  padding-bottom: $su-medium;
  margin-bottom: $su-medium;
  @include max-width('sm') {
    font-size: 30px;
    line-height: 40px;
  }
}

.tempDescription {
  color: #fff;
  font-size: 16px;
  @include max-width('sm') {
    font-size: 13px;
  }
}

.IntroText-name,
.IntroText-plus,
.IntroText-design,
.IntroText-development {
  display: inline-block;
}

.IntroText-design,
.IntroText-development {
  color: $wd-white;
}

.IntroText-name,
.IntroText-plus {
  color: $cu-primary;
}

.IntroText-name {
  font-size: 60px;
  padding-bottom: $su-small;
  display: block;
  @include max-width('sm') {
    font-size: 40px;
  }
}

.SocialMedia {
  padding: 0;
  margin: 0;
}

.SocialMedia-item {
  list-style: none;
  display: inline-block;
  padding: $su-small $su-medium;
}

.u-textCenter {
  text-align: center;
}
