{{> headerHead}}
<body id="{{id}}">
{{> header}}

<article class="Article">

  <header class="Article-container">
    <h1 class="Article-title">{{title}}</h1>
    <div class="Grid u-padBottomXl">
      <div class="Grid-cell u-sm-size1of2 u-padBottomXl">
        <img src="../img/About-image2.jpg" />
      </div>
      <div class="Grid-cell u-sm-size1of2 u-padLeftXl">

        <p>I’m fascinated by fractals, and how they shape both the natural and digital world. Infinitely complex patterns across varying scales, created by repeatable processes reoccurring in constant feedback loops, all building up to larger more tangible things. I view that simple process of weighing what something does, against what it’s trying to do as the basis for all creative work and the patterns created as the underlying structure of how we view with the world.</p>
        <p>At work that simple process provides a great basis for objectively discussing creative work and makes the design process much more inclusive. The breaking solutions down to easily repeatable parts is also a great strategy for driving efficiency both in branding and product design, as well as other creative endeavors.  Before diving into digital design I was an artist and practiced this same process.</p>
        <p>Outside work, I mostly just like relaxing with my wife and dogs or getting outside and doing something active. Preferably something going up or down a mountain. I’m a bit of a foodie, movie buff and sports fan too.</p>

      </div>
    </div>  
    </div>
  </header>
  
  <figure class="About-image">
    <img src="../img/about-image.jpg"/>
  </figure>

  <section class="Recomendations Article-section">
    <blockquote class="Blockquote Blockquote--thickBorder">
      <p>Bill has a killer collection of skills that make him a powerful and versatile member of multiple teams. He’s a beautiful visual designer, a crack UX/UI expert, a whiz at front-end development and a thoughtful strategic thinker and information architect. It all adds up to a guy who can take any project from problem statement to a beautiful, standards-compliant finished product. His love for frameworks and components ensures that the rest of the team can leverage his work and multiply the power of his design vision.</p>
      <p>Beyond his skills, Bill is also an awesome teammate, quick to mentor or jump in to help without being asked. He makes his teams better and has been a quiet superhero owning the user experience for an entire line of business plus multiple other initiatives. Honestly, we’re not sure how he does it all, but he does. Great designer, even better guy. 100% superhero.</p>
      <footer>— Andrew Berkowitz, Founder & Cheif Creative Officer at TeamSnap</footer>
    </blockquote>
  </section>

</article>

{{> footer}}

</body>
</html>
