{{> headerHead}}
<body id="{{id}}">
{{> header}}

<article class="Article">

  <header class="Article-container">
    <h1 class="Article-title">{{title}}</h1>
    <div class="Grid">
      <div class="Grid-cell u-sm-size1of2">
        <img src="../img/About-image2.jpg" />
      </div>
      <div class="Grid-cell u-sm-size1of2 u-padLeftXl">

        <p>
          At home, I mostly like getting outside and doing something active with my wife and dogs. Preferably something going up or down a mountain, but a golf course and beach are fun too. I’m a bit of a foodie, movie buff and sports fan. And I’d say I’m a generally easy going person, like playing around and having some fun.
        </p>
        <p>
          At work, I love designing systems and crave collaboration. Doesn’t really matter the background of the co-collaborator either, I think we’re all problem solvers and everyone has a unique and valuable point of view. The best ideas are inspired by others, it’s just a matter of listening. With systems design, I think they provide a great framework for discussion and I’ve always been interested in the underlying structure of things.
        </p>
      </div>
    </div>  
    </div>
  </header>

  <img class="footer-image" src="../img/footer-bg.jpg" />

  <figure class="About-image">
    <img src="../img/about-image.jpg"/>
  </figure>

</article>

{{> footer}}

</body>
</html>
