{{> headerHead}}
<body id="{{id}}">
{{> header}}

<article class="Article">

  <header class="Article-header">
    <h1 class="Article-title">{{title}}</h1>
    <div class="Grid u-padBottomXl">
      <div class="Grid-cell u-sm-size1of2 u-padBottomXl">
        <img src="../img/About-image2.jpg" />
      </div>
      <div class="Grid-cell u-sm-size1of2 u-padLeftXl">

        <p>I’m fascinated by fractals, and how they shape both the natural and digital world. Infinitely complex patterns across varying scales, created by repeatable processes reoccurring in constant feedback loops, all building up to larger more tangible things. I view that simple process of weighing what something does, against what it’s trying to do as the basis for all creative work and the patterns created as the underlying structure of how we view with the world.</p>
        <p>At work that simple process provides a great basis for objectively discussing creative work and makes the design process much more inclusive. The breaking solutions down to easily repeatable parts is also a great strategy for driving efficiency both in branding and product design, as well as other creative endeavors.  Before diving into digital design I was an artist and practiced this same process.</p>
        <p>Outside work, I mostly just like relaxing with my wife and dogs or getting outside and doing something active. Preferably something going up or down a mountain. I’m a bit of a foodie, movie buff and sports fan too.</p>

      </div>
    </div>  
    </div>
  </header>
  
  <figure class="About-image">
    <img src="../img/about-image.jpg"/>
  </figure>

</article>

{{> footer}}

</body>
</html>
