
{{#> headerHead}}
  {{#*inline 'metaData'}}

  <meta property="og:title" content="{{title}}" />
  <meta property="og:image" content="https://williamdingwall.com/{{this.thumb}}" />
  <meta property="og:description" content="{{intro}}" />
  <meta property="og:url" content="https://williamdingwall.com/{{path}}" />

  {{/inline}}
{{/headerHead}}

<body id="{{id}}">
{{> header}}

<article class="Article">
  <header class="Article-header">
    <h1>{{title}}</h1>
    <p>{{collection_label}}</p>
  </header>
  {{{contents}}}
</article>

{{> footer}}

</body>
</html>
