{{#> header}}
  {{#*inline 'PageHeader'}}
    <div class="Section-container Grid Grid--fit">
      <div class="Grid-cell">
        <h1 class="IntroText">
          <span class="IntroText-craft">Craft</span>
          <span class="IntroText-design">Design</span>
          <span class="IntroText-plus">+</span>
          <span class="IntroText-development">Development</span>
        </h1>
      </div>
      <div class="Grid-cell">
        <ol class="FeatureCollections">
          <li class="FeatureCollections-item">
            <a href="#" class="FeatureCollections-link">Identity Design</a>
          </li>
          <li class="FeatureCollections-item">
            <a href="#" class="FeatureCollections-link">UX / UI</a>
          </li>
          <li class="FeatureCollections-item">
            <a href="#" class="FeatureCollections-link">UI Devlopment</a>
          </li>
          <li class="FeatureCollections-item">
            <a href="#" class="FeatureCollections-link">Graphic Design</a>
          </li>
          <li class="FeatureCollections-item">
            <a href="#" class="FeatureCollections-link">Art & Photography</a>
          </li>
        </ol>
      </div>
    </div>
  {{/inline}}
{{/header}}

<section id="Portfolio" class="Section">
  <div class="Section-content">
    <div class="Section-container">

      <h2 class="Section-title">Portfolio</h2>

      {{#each collections.identityDesign}}
        {{#if featured}}
          {{> feature}}
        {{/if}}
      {{/each}}

      {{#each collections.uxUi}}
        {{#if featured}}
          {{> feature}}
        {{/if}}
      {{/each}}

      {{#each collections.uiDevelopment}}
        {{#if featured}}
          {{> feature}}
        {{/if}}
      {{/each}}

      {{#each collections.graphicDesign}}
        {{#if featured}}
          {{> feature}}
        {{/if}}
      {{/each}}

      {{#each collections.artPhotography}}
        {{#if featured}}
          {{> feature}}
        {{/if}}
      {{/each}}

    </div>
  </div>
</section>

<section id="About" class="Section Section--withBackground">
  <div class="Section-content">
    <div class="Section-container">
      <h2 class="Section-title">About</h2>
    
    </div>
  </div>
</section>

{{> footer}}
