{{> headerHead}}
<body id="{{id}}">

<header class="Section Section--withBackground" id="Intro">

  {{> headerNav}}

  <div class="Section-content">
    <div class="Section-container">
      <h1 class="IntroTitle">
        <span class="IntroTitle-product">Digital Product</span>
        <span class="IntroTitle-and">&</span>
        <span class="IntroTitle-identity">Identity Design</span>
      </h1>
      <p class="IntroText">Hi, I’m Bill. Creative problem solver & outdoor enthusiest</p>
    </div>
  </div>

</header>

<section id="Portfolio" class="Section">
  <div class="Section-content">
    <div class="Section-container">

      <h2 class="Section-title">
        <span class="Section-titleText">Portfolio</span>
      </h2>

      <div id="Work" class="Portfolio Grid">
        {{#each collections.portfolioWork}}
          {{#if featured}}
            {{> feature}}
          {{/if}}
        {{/each}}
      </div>

    </div>
  </div>
</section>

<img class="footer-image" src="../img/footer-bg.jpg" />
</body>
</html>
