{{> headerHead}}
<body id="{{id}}">
{{> header}}

<article class="Article">
  <header class="Article-container">

    <h1 class="Article-title">{{title}}</h1>

    <div class="Grid">
      
      <div class="Grid-cell u-sm-size1of2">

        <h3 class="Resume-title">
          <span class="Resume-titleText">Summary</span>
        </h3>
        <div class="Grid">
          <div class="Grid-cell u-padRightMd">
            <p class="u-padBottomXl">Passionate about solving human problems in digital spaces. I love seeing businesses grow and making people’s lives better by design. A firm believer in collaboration, product thinking and systematic solutions. I crave growth most in my career and the outdoors at heart.</p>
          </div>
        </div>

      </div>

      <div class="Grid-cell u-sm-size1of2">

        <ul class="Resume-experience Grid Grid--fit">
          <li class="Resume-experienceItem Grid-cell">
            <span class="Resume-experienceYear">5<sup>+</sup></span>
            <span class="Resume-experienceYearText">Five Years</span>
            <span class="Resume-experienceFocus">Product</span>
          </li>
          <li class="Resume-experienceItem Grid-cell">
            <span class="Resume-experienceYear">8<sup>+</sup></span>
            <span class="Resume-experienceYearText">Eight Years</span>
            <span class="Resume-experienceFocus">Development</span>
          </li>
          <li class="Resume-experienceItem Grid-cell">
            <span class="Resume-experienceYear">12<sup>+</sup></span>
            <span class="Resume-experienceYearText">Twelve Years</span>
            <span class="Resume-experienceFocus">Design</span>
          </li>
        </ul>

      </div>

    </div>

  </header>

  <section class="Article-section Article-section--fullWidth">
    <div class="Resume-skills u-padBottomXl Grid Grid--withGutter">
      <div class="Grid-cell u-sm-size1of3 u-padBottomXl">
        <h3>Skills</h3>
        <ul>
          <li>User Experience Design</li>
          <li>User Interface Design</li>
          <li>UI Development</li>
          <li>Visual Design</li>
          <li>Usability Testing</li>
          <li>A/B Testing</li>
          <li>User Research</li>
          <li>Identity Design</li>
          <li>Graphic Design</li>
          <li>A/B Testing</li>
          <li>Art + Photography </li>
        </ul>
      </div>
      <div class="Grid-cell u-sm-size1of3 u-padBottomXl">
        <h3>Tools</h3>
        <ul>
          <li>Figma</li>
          <li>Sketch + Abstract</li>
          <li>Adobe Creative Suite</li>
          <li>HTML, CSS, Javascript</li>
          <li>UserTesting</li>
          <li>FullStory</li>
          <li>Google Analytics</li>
          <li>Customer Interviews</li>
          <li>Dropbox Paper</li>
          <li>Bear Notes</li>
          <li>Pencil & Paper</li>
        </ul>
      </div>
      <div class="Grid-cell u-sm-size1of3 u-padBottomXl">
        <h3>Learning</h3>
        <ul>
          <li>Object Oriented UX</li>
          <li>Data Visualization</li>
          <li>UX Writing</li>
          <li>React</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="Experience Article-container">
    <h2 class="Article-title">Experience</h2>
    {{#each collections.workExperience}}
      {{> experience}}
    {{/each}}
  </section>

  <section class="Education Article-container">
    <h2 class="Article-title">Education</h2>
    {{#each collections.schoolExperience}}
      {{> experience}}
    {{/each}}
  </section>

  <section class="Recomendations Article-section">
    <blockquote class="Blockquote Blockquote--thickBorder">
      <p>Bill has a killer collection of skills that make him a powerful and versatile member of multiple teams. He’s a beautiful visual designer, a crack UX/UI expert, a whiz at front-end development and a thoughtful strategic thinker and information architect. It all adds up to a guy who can take any project from problem statement to a beautiful, standards-compliant finished product. His love for frameworks and components ensures that the rest of the team can leverage his work and multiply the power of his design vision.</p>
      <p>Beyond his skills, Bill is also an awesome teammate, quick to mentor or jump in to help without being asked. He makes his teams better and has been a quiet superhero owning the user experience for an entire line of business plus multiple other initiatives. Honestly, we’re not sure how he does it all, but he does. Great designer, even better guy. 100% superhero.</p>
      <footer>— Andrew Berkowitz, Founder & Cheif Creative Officer at TeamSnap</footer>
    </blockquote>
  </section>

  <footer class="Article-footer">
    <a class="Download-link u-centerBlock u-textCenter" href="/../../downloads/Dingwall-Resume.pdf" download>
      {{> iconDownload}}
      Download Resume
    </a>
  </footer>

</article>

{{> footer}}

</body>
</html>
